<html>
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Playfair+Display|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/about_styles.css">
    <script src="/js/app.js"></script>
  </head>

  <header>
    <div class='header-title'>
      <a href='/'>Ryan OS</a>
    </div>
    <li>
      <a href='/'>HOME</a>
    </li>
    <li>
      <a href='/about'>ABOUT</a>
    </li>
    <li>
      <a href='http://awesomeos.com/blog/'>BLOG</a>
    </li>
    <li>
      <div class='contact-border'>
        <a href='/contact'>CONTACT US</a>
      </div>
    </li>
  </header>

  <body>
    <div class='about-us'>
      <h1>ABOUT US</h1>
      <h3>Company and Values</h3>
      <p>Awesome OS was founded in 2006 in Los Angeles, California and Davao, Philippines by a team who wanted to change the way that outsourcing was done. Our first client was a sign manufacturer. Ten years later, we’ve grown to a team of 1700+ serving a variety of forward-thinking clients in tech and e-commerce. Our mission is to help businesses thrive through outsourcing focused on people and partnership, with best-in-class service at a competitive price. We also have a commitment to our employees, and we</p>
      <img src='/images/dvo_us.jpg'>
    </div>
    <div class='red-gradient-curve'>
      <div class='we-are-palm'>
        <h1>WE<br>ARE</h1>
      </div>

      <div class='red-grad-left'>
        <h5>HARD WORKING</h5>
        <p>We work hard and play to win. We’re not afraid to put in the time and effort required to get things done.</p>
        <h5>CAPABLE</h5>
        <p>Together, we can do anything. Clients trust us to help them get ahead, and we can make it happen.</p>
      </div>
      <div class='red-grad-right'>
        <h5>CARING</h5>
        <p>We help others succeed, treating people with warmth and kindness, listening to to understand, and using our skills to do good.</p>
        <h5>FUN</h5>
        <p>Happiness is important. Life’s just too short to not enjoy it.</p>
      </div>
    </div>
    <div class='leadership-team'>
      <h1>LEADERSHIP TEAM</h1>
      <div class='leadership-large'>
        <img src='/images/13_Square.jpeg'>
        <div class='leadership-large-content'>
          <h3>Johnny</h3>
          <h5>CEO</h5>
          <p>Chutney garden beet eu brined seed orci lorem tomatillo vegan whole pasture raised. Peppers squash whey fed farm brined. Brined orchard peppers farm raw milk orci unpasteurized gluten free raw natural raw free range figs produce dill. Cabbage sit medley rustic ramps cured peppers. Seed dill raw milk natural farm fair trade. Cage less pasture raised pasture raised dolor lorem lorem dill grain vegan persimmon chutney cabbage. Lorem gluten free whey dolor figs figs ramps fermented canned produce.</p>
        </div>
      </div>
      <div class='leadership-sm-imgs'>
        <img src='/images/13_Square.jpeg' id='johnny'>
        <img src='/images/14_Square.jpeg' id='ryan'>
        <img src='/images/15_Square.jpeg' id='matt'>
        <img src='/images/16_Square.jpg' id='sam'>
        <img src='/images/17_Square.jpg' id='nykki'>
        <img src='/images/18_Square.jpeg' id='sal'>
      </div>
      <div class='leader-names'>
        <h5 id='first-name'>Johnny</h5>
        <h5>Ryan</h5>
        <h5>Matt</h5>
        <h5>Sam</h5>
        <h5>Nykki</h5>
        <h5>Sal</h5>
      </div>
    </div>
    <div class='our-offices'>
      <h1>OUR OFFICES</h1>
      <p>Comfortable, spacious, and WIRED, our spaces have everything a modern office needs. We use three internet service providers for redundancy and backup generators in the event of a power outage; downtime is virtually nonexistent in the OS offices. Open layouts, state-of-the-art technology, on-site security, kitchens packed with snacks, a masseuse and nurse on duty, and more SOOOOOOOO</p>
    </div>
    <div class='coolture'>
      <h1>COOLTURE</h1>
      <div class='coolture-lg-img'></div>
      <div class='coolture-sm-imgs'>
        <div class='coolture-sm-img' id='coolture-left'>
          <div class='coolture-img-overlay'>
            <h3>Green Eyes</h3>
          </div>
        </div>
        <div class='coolture-sm-img' id='coolture-center'>
          <div class='coolture-img-overlay'>
            <h3>Blue Eyes</h3>
          </div>
        </div>
        <div class='coolture-sm-img' id='coolture-right'>
          <div class='coolture-img-overlay'>
            <h3>Grey Eyes</h3>
          </div>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div class='footer-column first-footer-column'>
      <h3>Philippines Offices</h3>
      <p>
        Landco Corporate Center <br>
        10th Floor <br>
        JP Laurel Avenue, Bajada <br>
        Davao City, Philippines
      </p>
      <p>
        Andreliz Building <br>
        238 Araullo Extension <br>
        Davao City, Philippines
      </p>
    </div>
    <div class='footer-column'>
      <br><br>
      <p>
        Hai Global Building <br>
        2nd & 3rd Floors <br>
        JP Laurel Avenue, Bajada <br>
        Davao City, Philippines
      </p>
      <p>
        Tavera Business Center <br>
        Ground and 3rd Floors <br>
        J. Camus Extension (aka. Pardo de Tavera)<br>
        Davao City, Philippines
      </p>
    </div>
    <div class='footer-column'>
      <h3>Mailing Address</h3>
      <p>
        8605 Santa Monica Blvd. #30540 <br>
        Los Angeles, CA 90069
      </p>
      <h3>Contact Us</h3>
      <p>
        Phone:  310-295-9416 <br>
        Email: info@offsourcing.com
      </p>
    </div>
    <div class='footer-social'>
      <a href="#">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin-square"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter-square"></i>
      </a>
    </div>
    <div class='footer-black-bar'></div>
  </footer>
</html>
