<html>
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Playfair+Display|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/contact_styles.css">
    <script src="/js/app.js"></script>
  </head>

  <header>
    <div class='header-title'>
      <a href='/'>Ryan OS</a>
    </div>
    <li>
      <a href='/'>HOME</a>
    </li>
    <li>
      <a href='/about'>ABOUT</a>
    </li>
    <li>
      <a href='http://awesomeos.com/blog/'>BLOG</a>
    </li>
    <li>
      <div class='contact-border'>
        <a href='/contact'>CONTACT US</a>
      </div>
    </li>
  </header>

  <body>
    <div class='contact-content'>
      <div class='non-form-text'>
        <h1>CONTACT</h1>
        <h3>Get in touch with us.</h3>
      </div>

      <div class='form-div'>
        <form method="post">
          <div class='contact-top-row'>
            <div class='top-row-headers'>
              <p>Name:</p>
              <p>Email:</p>
              <p>Phone:</p>
            </div>
            <div class='top-row-input'>
              <input type="text" name="name" required>
              <input type="text" name="email" required>
              <input type="text" name="phone">
            </div>
          </div>
          <br>
          <div class='contact-second-row'>
            <div class='second-row-headers'>
              <p>Subject:</p>
              <p id='p-second'>Services:</p>
            </div>
            <div class='second-row-input'>
              <input type="text" name="subject" required>
              <select name='services'>
                <option value=""></option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
          <br>
          <div class='last-row-input'>
            <p>Message:</p>
            <textarea name="message" id='email-message' required></textarea>
            <!-- <input type="text" name="message" id='email-message' required> -->
            <br>
            <input type="submit" value="SEND MESSAGE" id='submit-email'>
          </div>
        </form>
      </div>
    </div>
  </body>

  <footer>
    <div class='footer-column first-footer-column'>
      <h3>Philippines Offices</h3>
      <p>
        Landco Corporate Center <br>
        10th Floor <br>
        JP Laurel Avenue, Bajada <br>
        Davao City, Philippines
      </p>
      <p>
        Andreliz Building <br>
        238 Araullo Extension <br>
        Davao City, Philippines
      </p>
    </div>
    <div class='footer-column'>
      <br><br>
      <p>
        Hai Global Building <br>
        2nd & 3rd Floors <br>
        JP Laurel Avenue, Bajada <br>
        Davao City, Philippines
      </p>
      <p>
        Tavera Business Center <br>
        Ground and 3rd Floors <br>
        J. Camus Extension (aka. Pardo de Tavera)<br>
        Davao City, Philippines
      </p>
    </div>
    <div class='footer-column'>
      <h3>Mailing Address</h3>
      <p>
        8605 Santa Monica Blvd. #30540 <br>
        Los Angeles, CA 90069
      </p>
      <h3>Contact Us</h3>
      <p>
        Phone:  310-295-9416 <br>
        Email: info@offsourcing.com
      </p>
    </div>
    <div class='footer-social'>
      <a href="#">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin-square"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter-square"></i>
      </a>
    </div>
    <div class='footer-black-bar'></div>
  </footer>
</html>
