<html>
  <head>
    <title>Ryan's OS</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src='/js/app.js'></script>
    <link href='https://fonts.googleapis.com/css?family=Lato|Open+Sans|Playfair+Display|Raleway' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/styles/styles.css'>
    <link rel='stylesheet' href='/styles/index_styles.css'>
  </head>

  <header>
    <div class='header-title'>
      <a href='/'>Ryan OS</a>
    </div>
    <li>
      <a href='/'>HOME</a>
    </li>
    <li>
      <a href='/about'>ABOUT</a>
    </li>
    <li>
      <a href='http://awesomeos.com/blog/'>BLOG</a>
    </li>
    <li>
      <div class='contact-border'>
        <a href='/contact'>CONTACT US</a>
      </div>
    </li>
  </header>

  <body>
    <div class='home-contents'>
      <h3 class='parallex-index'>TOGETHER WE CAN</h3>
      <h1 class='parallex-index'>DO ANYTHING</h1>
    </div>
    <div class='white-index-div' id='not-your-white-id'>
      <h1>NOT YOUR TYPICAL CALL CENTER</h1>
      <p>
        Awesome OS helps businesses thrive through outsourcing focused on people and partnership, with best-in-class service at a competitive price.
        <br><br>
        Our speciality is working with tech and e-commerce companies who strive for outstanding customer experiences and share our focus on strong culture.
        <br><br>
        Founded in 2006 by a leadership team with over 50 years of combined outsourcing experience, we know what leads to long-term success, and we’re here to help you get there. Whether you’re building a program from scratch or looking to improve on an existing one, we’ll collaborate with you to create and execute the perfect plan
      </p>
    </div>
    <div class='red-gradient-curve'>
      <div class='sun-div'>
        <img src='/images/our_people.png'>
      </div>
      <div class='our-people'>
        <h3>OUR PEOPLE</h3>
        <p>
          Our people are our greatest asset and our driving force. Through rigorous hiring standards and a strong focus on culture fit, we find the best candidates in the industry. Then we provide them with the training, technology, and environments that they need to thrive.
          <br><br>
          Our employees get a full suite of benefits including competitive salaries, paid time off, investment plans, health insurance, team-building events, access to sports and fitness activities, and even nap rooms and massages. It’s no wonder our average annual attrition rate is just 15% (WAY lower than industry averages).
          <br><br>
          The result is engaged, proactive employees who are passionate about their work.
        </p>
      </div>
    </div>
    <div class='white-index-div' id='partnership-white-id'>
      <div class='our-partnership'>
        <h1>OUR PARTNERSHIP</h1>
        <p>
          We know that in growing businesses, you always need to do a lot of work with limited resources. We have a high-touch, customizable model that puts your needs first.
          <br><br>
          <strong>Flexible:</strong> 24/7 coverage with no annual contract, no headcount minimums, and no annual increase minimums. Ramp up quickly and hire new team members within days. We’ve launched several brands with 500+ team members within just three months.
          <br><br>
          <strong>Affordable:</strong> Pay per agent with low, all-inclusive rates -- no upcharge for overnight shifts or phone support. Save up to 80% as compared to an in-house hire and get equal or better results.
          <br><br>
          <strong>Supportive:</strong> Leave the sourcing, hiring, and onboarding to us. We’ll work with you to make sure your professionals understand your product, values, and culture so they can act as a fully integrated part of your overall team. A leadership team with deep experience in customer support, call centers, and back office outsourcing is available to advise at any time, and a U.S. based account manager will be with you every step of the way.
        </p>
      </div>
      <div class='sun-div'>
        <img src='/images/our_partnership.png'>
      </div>
    </div>
    <div class='blue-gradient-curve'>
      <div class='sun-div'>
        <img src='/images/palm_tree.png'>
      </div>
      <h3>OUR LOCATION</h3>
      <p>
        Lower cost of living means lowering operating costs, and a huge talent pool of educated and passionate people means top-notch results.
        <br><br>
        The Philippines is the third-largest English speaking country in the world. Filipinos speak English with little to no accent and have a strong understanding of Western culture -- so much so that the Philippines has been named as the global leader in quality of English and Western cultural affinity. *According to the Talent Index generated by O2P and the Everest Group.
        <br><br>
        Davao is the third-most populated city in the Philippines. With millions of qualified professionals and fewer outsourcers than other Filipino cities, there’s less saturation and more access to workforce. Solid infrastructure, skilled people, and local government support for the industry make Davao the perfect location.
      </p>
    </div>
    <div class='white-index-div' id='services'>
      <div class='services'>
        <h1>SERVICES</h1>
        <div class='services-left'>
          <div class='services-icons' id='headphone-icon'></div>
          <h3>Customer Support</h3>
          <p>Our Support Professionals can process orders, provide support via email or chat, make or take calls, and do quality assurance.</p>
          <br><br>
          <div class='services-icons' id='cog-icon'></div>
          <h3>Web Development</h3>
          <p>Our Web Development Team can design and build websites, maintain and provide ongoing changes to  design or functionality, and do quality assurance testing.</p>
        </div>
        <div class='services-right'>
          <div class='services-icons' id='pencil-icon'></div>
          <h3>Graphic Design</h3>
          <p>Our Graphic Designers can produce a variety of collateral for print and web. We also do animation, motion graphics, photo enhancement, and AutoCAD drafting and engineering.</p>
          <br><br>
          <div class='services-icons' id='screen-icon'></div>
          <h3>Back Office Support</h3>
          <p>Our Back Office Support Team are virtual assistants ready to take care of a variety of administrative functions, including data processing.</p>
        </div>
      </div>
    </div>
    <div class='island-piers-div'>
      <h1>LET'S WORK TOGETHER</h1>
      <p>Ready to be awesome? We can’t wait to learn more about your business needs and how we can help.</p>
      <div class='island-contact-button'>
        <a href='/contact'>CONTACT US</a>
      </div>
    </div>
  </body>

  <footer>
    <div class='footer-column first-footer-column'>
      <h3>Philippines Offices</h3>
      <p>
        Landco Corporate Center <br>
        10th Floor <br>
        JP Laurel Avenue, Bajada <br>
        Davao City, Philippines
      </p>
      <p>
        Andreliz Building <br>
        238 Araullo Extension <br>
        Davao City, Philippines
      </p>
    </div>
    <div class='footer-column'>
      <br><br>
      <p>
        Hai Global Building <br>
        2nd & 3rd Floors <br>
        JP Laurel Avenue, Bajada <br>
        Davao City, Philippines
      </p>
      <p>
        Tavera Business Center <br>
        Ground and 3rd Floors <br>
        J. Camus Extension (aka. Pardo de Tavera)<br>
        Davao City, Philippines
      </p>
    </div>
    <div class='footer-column'>
      <h3>Mailing Address</h3>
      <p>
        8605 Santa Monica Blvd. #30540 <br>
        Los Angeles, CA 90069
      </p>
      <h3>Contact Us</h3>
      <p>
        Phone:  310-295-9416 <br>
        Email: info@offsourcing.com
      </p>
    </div>
    <div class='footer-social'>
      <a href="#">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin-square"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter-square"></i>
      </a>
    </div>
    <div class='footer-black-bar'></div>
  </footer>
</html>
