.about-us {
  height: 650px;
}

.about-us h1 {
  font-size: 80;
  font-weight: 800;
  color: #ff5315;
  margin-top: 120px;
  margin-bottom: 10px;
  text-align: center;
}

.about-us h3 {
  font-size: 50;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.about-us p {
  font-size: 20;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: justify;
  width: 60%;
}

.about-us img {
  display: block;
  margin: auto;
  height: 300px;
}

.red-gradient-curve {
  height: 650px;
  background-image: url('/images/orange_red_gradient_curve.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.we-are-palm {
  height: 400px;
  width: 400px;
  background-image: url('/images/we_are_palms.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
  top: -100px;
}

.red-gradient-curve h1 {
  font-size: 80;
  font-weight: 800;
  color: white;
  line-height: 80%;
  padding-top: 150px;
  text-align: center;
}

.red-gradient-curve h5 {
  font-size: 40;
  font-weight: 600;
  color: #ffc715;
  margin: 0 0 0 2em;
  position: relative;
  top: -100px;
}

.red-gradient-curve p {
  color: white;
  margin: 0 2em 2em 5em;
  position: relative;
  top: -100px;
}

.red-grad-left, .red-grad-right {
  float: left;
  width: 50%;
}

.leadership-team {
  height: 700px;
}

.leadership-team h1 {
  font-size: 80;
  font-weight: 800;
  color: #ffc715;
  margin-top: 1em;
  text-align: center;
}

.leadership-large {
  height: 300px;
  background-color: #F8F8FA;
  margin: 0 7em 0 5em;
  display: inline-block;
}

.leadership-large img {
  height: 300px;
}

.leadership-large-content {
  height: 250px;
  width: 60%;
  float: right;
  position: relative;
  margin-right: 4em;
}

.leadership-large-content h3 {
  margin-top: 3em;
}

.leadership-large-content p {
  text-align: justify;
}

.leadership-sm-imgs {
  margin: 0 5em;
  display: inline;
}

.leadership-sm-imgs img {
  margin-top: 4px;
  height: 180px;
  width: 14%;
  cursor: pointer;
}

.leader-names {
  display: inline-block;
}

.leader-names h5 {
  float: left;
  margin: 1em 80px;
}
.our-offices {
  height: 600px;
  background-color: #ffc715;
}

.our-offices h1 {
  color: #6666ff;
  font-size: 80;
  font-weight: 800;
  padding-top: 1em;
  margin-bottom: 0;
  text-align: center;
}

.our-offices p {
  color: white;
  font-size: 20;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 1em;
  text-align: justify;
  width: 80%;
}

.our-office-hibiscus {
  height: 270px;
  width: 270px;
  background-image: url('/images/our_office_hibiscus.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 50px;
}

.coolture {
  height: 1063px;
}

.coolture h1 {
  font-size: 80;
  font-weight: 800;
  color: #ffc715;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: center;
}

.coolture li {
  display: inline;
  margin: 0 0 0 17em;
  color: #666a73;
  font-size: 15px;
  font-weight: 400;
}

.coolture-lg-img {
  background-image: url('/images/coolture_large.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.coolture-sm-img {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  width: 33.17%;
  margin-top: 4px;
  text-align: center;
}

.coolture-sm-img h3 {
  padding-top: 8em;
  color: white;
}

#coolture-left {
  background-image: url('/images/coolture_left.jpeg');
}

#coolture-center {
  background-image: url('/images/coolture_center.jpg');
}

#coolture-right {
  background-image: url('/images/coolture_right.png');
}

.coolture-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.coolture-sm-img:hover .coolture-img-overlay {
  opacity: .85;
}
