
.contact-content {
  height: auto;
  margin: 100px;
}

.contact-content h1 {
  color: #ffc715;
  font-size: 60px;
  margin-bottom: 0px;
}

.contact-content h3 {
  font-size: 40px;
  letter-spacing: 1.5px;
  margin-top: 0;
}

.top-row-headers, .second-row-headers {
  display: inline-block;

}

.top-row-headers p {
  float: left;
  margin-right: 18em;
  margin-bottom: 5px;
}

.top-row-input input {
  float: left;
  margin-right: 10px;
  width: 30%;
}

.second-row-headers p {
  float: left;
  margin-right: 30em;
  margin-bottom: 5px;
}

.second-row-input input {
  float: left;
  margin-right: 10px;
  width: 61%;
}

#p-second {
  margin-right: 0px;
  margin-left: 8em;
}

select {
  width: 30%;
}

.last-row-input {
  word-break: break-all;
}

.last-row-input p {
  float: left;
  margin-right: 18em;
  margin-bottom: 5px;
}

#email-message {
  width: 92%;
  height: 7em;
}

#submit-email {
  color: white;
  margin-top: 10px;
  background-color: #6666ff;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;

}




@media (max-width: 1200px) {
  .top-row-headers p {
    margin-right: 16em;
  }

  #p-second {
    margin-right: 0px;
    margin-left: 4em;
  }
}


@media (max-width: 1110px) {
  .top-row-headers p {
    margin-right: 14em;
  }

  #p-second {
    margin-right: 0px;
    margin-left: 5px;
  }
}


@media (max-width: 1010px) {
  .top-row-headers p {
    margin-right: 11em;
  }

  .second-row-headers p {
    margin-right: 24em;
  }
}


@media (max-width: 870px) {
  .top-row-headers p {
    margin-right: 8em;
  }

  .second-row-headers p {
    margin-right: 18em;
  }
}


@media (max-width: 725px) {
  .top-row-headers p {
    margin-right: 6em;
  }

  .second-row-headers p {
    margin-right: 14em;
  }
}


@media (max-width: 630px) {
  .contact-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .contact-content h3 {
    font-size: 25px;
  }

  .top-row-headers p {
    margin-right: 8em;
  }

  .second-row-headers p {
    margin-right: 18em;
  }
}


@media (max-width: 550px) {
  .top-row-headers p {
    margin-right: 6em;
  }

  .second-row-headers p {
    margin-right: 14em;
  }
}


@media (max-width: 450px) {
  .top-row-headers p {
    margin-right: 5em;
  }

  .second-row-headers p {
    margin-right: 12em;
  }
}
