
.home-contents {
  background-size: cover;
  height: 700px;
  background-image: url('http://i.imgur.com/QIQhCuz.jpg');
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
}

.home-contents h3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 35%;
  margin: auto;
  color: white;
  font-size: 80;
  font-weight: 800;
}

.home-contents h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 10%;
  margin: auto;
  color: #ffc715;
  font-size: 110;
  font-weight: 800;
}

.white-index-div {
  height: 500px;
  background: white;
}

.white-index-div h1 {
  font-size: 60;
  font-weight: 800;
  color: #ff5315;
  left: 0;
  right: 0;
  margin-left: 2em;
}

.white-index-div p {
  font-size: 20;
  font-weight: 300;
  color: #4c4849;
  left: 0;
  right: 0;
  width: 60%;
  height: 10%;
  margin: auto;
  text-align: justify;
}

.red-gradient-curve {
  height: 500px;
  background-image: url('/images/orange_red_gradient_curve.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sun-div {
  width: 50%;
  height: 100%;
  display: inline-block;
  float: left;
  /*background-color: red;*/
}

.sun-div img {
  margin-top: 40px;
  max-height: 400px;
}

.our-people h3 {
  font-size: 60;
  font-weight: 800;
  color: white;
  left: 0;
  right: 0;
  width: 80%;
  height: 10%;
  margin: auto;
  padding-top: 2em;
}

.our-people p {
  font-size: 15;
  font-weight: 300;
  color: white;
  left: 0;
  right: 0;
  width: 80%;
  height: 10%;
  margin: auto;
  padding-top: 2em;
  text-align: justify;
}

.our-partnership {
  left: 0;
  right: 0;
  width: 50%;
  height: 10%;
  margin: auto;
  padding-top: 2em;
  float: left;
}

.our-partnership h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.our-partnership p {
  text-align: left;
  margin-bottom: 1em;
  width: 80%;
  font-size: 14px;
}

.right-images {
  height: 500px;
  width: 50%;
  float: right;
  z-index: -200;
  /*background-color: purple;*/
}

.hibiscus-pink-top-right {
  /*background-image: url('/images/hibiscus_pink_top_right.png');*/
  background-repeat: no-repeat;
  height: 200px;
  width: 50%;
  position: relative;
  top: -30px;
  float: right;
  z-index: -1;
  background-size: 100% 100%;
}


.blue-gradient-curve {
  height: 600px;
  background-image: url('/images/blue_gradient_curve.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
}

.blue-gradient-curve h3 {
  font-size: 60;
  font-weight: 800;
  color: white;
  left: 0;
  right: 0;
  width: 80%;
  height: 10%;
  margin: auto;
  padding-top: 2em;
}

.blue-gradient-curve p {
  font-size: 15;
  font-weight: 300;
  color: white;
  left: 0;
  right: 0;
  width: 80%;
  height: 10%;
  margin: auto;
  padding-top: 2em;
}

.blue-gradient-curve img {
  padding-top: 40px;
}

.services h1 {
  font-size: 60;
  font-weight: 800;
  color: #ff5315;
  left: 0;
  right: 0;
  width: 80%;
  height: 10%;
  margin: auto;
  padding-top: 1em;
  text-align: center;
}

.services-left, .services-right {
  width: 50%;
  height: 100%;
  display: inline-block;
  float: left;
}

.services h3 {
  font-size: 25;
  left: 0;
  right: 0;
  width: 60%;
  margin: auto;
  padding-top: 2em;
  text-align: left;
}

.services p {
  font-size: 15;
  font-weight: 300;
  color: #4c4849;
  left: 0;
  right: 0;
  width: 60%;
  height: 10%;
  margin: auto;
  text-align: justify;
  padding: 0;
}

.island-piers-div {
  height: 500px;
  background-image: url('/images/island_piers.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.island-piers-div h1 {
  left: 0;
  right: 0;
  width: 80%;
  height: 10%;
  margin: auto;
  color: #ffc715;
  font-size: 60;
  font-weight: 600;
  text-align: center;
}

.island-piers-div p {
  width: 40%;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 5em;
  color: white;
  font-size: 30;
  font-weight: 600;
  text-align: center;
}

.island-contact-button {
  text-align: center;
  margin-top: 3em;
}

.island-piers-div a {
  color: #ffc715;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-style: solid;
  border-color: #ffc715;
  border-width: 2px;
}

.island-piers-div a:hover {
  color: white;
  background-color: #ffc715;
  transition-duration: 0.4s;
}





@media (max-width: 975px) {
  .home-contents h3 {
    font-size: 60px;
  }

  .home-contents h1 {
    font-size: 80px;
  }

  .white-index-div {
    height: 600px;
  }

  .red-gradient-curve {
    height: 600px;
  }

  .our-people h3 {
    font-size: 40;
    padding-left: 550px;
  }

  .our-people p {
    width: 35%;
    margin-right: 3em;
    padding-top: 10px;
  }

}


@media (max-width: 820px) {
  .red-gradient-curve {
    height: 930px;
  }

  .red-gradient-curve img {
    margin-top: 150px;
  }

  .our-people h3 {
    position: absolute;
    margin-left: 2em;
    padding-left: 50px;
    width: 350px;
  }

  .our-people p {
    position: absolute;
    margin: 550px 0 0 3em;
    width: 83%;
  }
}


@media (max-width: 710px) {
  .home-contents h3 {
    font-size: 40px;
  }

  .home-contents h1 {
    font-size: 60px;
  }

  .white-index-div h1 {
    font-size: 40;
  }

  .white-index-div p {
    font-size: 18;
  }
}


@media (max-width: 500px) {
  .white-index-div h1 {
    margin-left: 30px;
  }

  .white-index-div p {
    width: 90%;
  }
}
