body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #ff5315;
  height: 4em;
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header-title a {
  font-size: 25px;
  font-weight: 600;
  color: white;
  float: left;
  margin-left: 2em;
  margin-top: 15px;
  letter-spacing: 2.5px;
}

header li {
  display: inline-block;
  padding-top: 10px;
  padding-right: 2em;
}

header a {
  color: white;
  text-decoration: none;
}

.contact-border {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 10px;
}

footer {
  float: left;
  height: auto;
  position: relative;
  background: #4c4849;
  bottom: 0;
  width: 100%;
  color: #8f8b8c;
}

.footer-column {
  width: 20%;
  float: left;
  margin: 2em;
  display: inline-block;
}

.first-footer-column {
  margin-left: 12em;
}

.footer-column p {
  font-size: 12px;
}

.footer-column h3 {
  margin-bottom: 0;
}

.footer-social {
  display: block;
  font-size: 50px;
  clear: both;
  text-align: center;
  margin-bottom: 1em;
}

.footer-social a {
  margin: 2em;
  margin-top: 1em;
  color: #8f8b8c;
  text-decoration: none;
  position: relative;
  left: -50px;
}

.footer-social a:hover {
  color: #bbb9ba;
  transition-duration: 0.4s;
}

.footer-black-bar {
  position: absolute;
  background: #242223;
  width: 100%;
  height: 50px;
}


@media (max-width: 975px) {
  .footer-social a {
    left: 25px;
  }
}


@media (max-width: 880px) {
  .first-footer-column {
    margin-left: 1em;
  }

  .footer-social a {
    left: -80px;
  }

  .footer-column {
    width: 30%;
  }
}


@media (max-width: 620px) {
  .footer-social a {
    left: -20;
    margin: 1em;
  }
}
